:root {
  --pink: #f3dcd6;
  --darkPink: #860050;
  --mainDarkColor: #860050;

  --mainFont: 'VIM SM';
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('fonts/RecoletaAlt-Bold.eot');
  src: url('fonts/RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/RecoletaAlt-Bold.woff2') format('woff2'),
    url('fonts/RecoletaAlt-Bold.woff') format('woff'),
    url('fonts/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('fonts/Recoleta-Regular.eot');
  src: url('fonts/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Recoleta-Regular.woff2') format('woff2'),
    url('fonts/Recoleta-Regular.woff') format('woff'),
    url('fonts/Recoleta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.recoleta {
  font-family: var(--recoleta);
}

.ugo-pink {
  color: var(--pink);
}

.ugo-pink-bg {
  background-color: var(--pink);
}

.ugo-dark-pink {
  color: var(--darkPink);
}

.ugo-dark-pink-bg {
  background-color: var(--darkPink);
}

.bg-color-container {
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.bg-color-ball {
  background-color: var(--pink);
  width: 100vw;
  height: 100vh;
  /* transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
  transform: translateY(100%);
  bottom: 0%;
  left: 0%;
  position: absolute;
}

.bg-color-ball.active {
  transform: translateY(0%);
}

.main-cta.white-border {
  border-width: 2px;
}

.ugo-border {
  border: 2px solid var(--darkPink);
}

.main-cta {
  padding: 15px 28px;
}

/* Header & Footer Desktop */

header {
  transition: all 0.3s ease;
}

header.scrolled {
  background-color: #f3dcd6d5;
  border-bottom: 1px solid var(--darkPink);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

header.scrolled p,
header.scrolled a p {
  color: var(--darkPink) !important;
}

header.scrolled a p::after {
  background-color: var(--darkPink) !important;
}

header.scrolled svg path {
  fill: var(--darkPink);
}

/* Home Desktop */

.home-starter {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.home-starter > div > * {
  opacity: 0;
  transform: translateY(60px);
}

.home-starter > div:last-child {
  opacity: 0;
  transform: translateY(60px);
}

.home-starter .main-cta,
.main-cta.animate,
.main-cta.reverse {
  transition: padding 0.3s, background-color 0.3s ease;
}

.home-starter .main-cta:hover,
.main-cta.animate:hover {
  background-color: var(--pink);
  padding-left: 40px;
  padding-right: 40px;
  border-color: var(--pink);
}

.home-starter .main-cta:hover p,
.main-cta.animate:hover p {
  color: var(--darkPink);
}

.home-starter .main-cta:hover svg path,
.main-cta.animate:hover svg path {
  fill: var(--darkPink);
}

.main-cta.reverse:hover {
  background-color: var(--darkPink);
  padding-left: 40px;
  padding-right: 40px;
  border-color: var(--darkPink);
}

.main-cta.reverse:hover p {
  color: var(--pink);
}

.main-cta.reverse:hover svg path {
  fill: var(--pink);
}

.bloque-text,
.bloque-text > div:last-child {
  background-color: var(--pink);
  z-index: 3;
  position: relative;
}

.bloque-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--darkPink);
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.6s 0.7s ease;
}

.numero-bloque {
  transform: translateY(-50%);
  background-color: var(--pink);
}

.landing-footer-ilust svg {
  width: 20vw;
  height: auto !important;
}

.bloque-text.has-background::after {
  background-color: var(--darkPink);
}

.bloques-home > div > div {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bloques-home > div.in-view > div {
  opacity: 1;
  transform: translateY(0);
}

.bloques-home > div.in-view .bloque-text::after {
  transform: translate(15px, 15px);
}

.marco-gallery > div {
  transition-delay: 0s !important;
}

.home-starter > div:last-child {
  background-position: bottom;
}

.bloques-home > div:first-child {
  margin-top: 40px;
}

.bloques-home > div:first-child > div {
  transition-delay: 3s !important;
}

.cursor.is-scroll-h {
  width: 150px;
  height: 150px;
  background-image: url(/wp-content/uploads/2021/01/Group-16.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: unset !important;
  transition: none !important;
}

.marco-gallery {
  cursor: none;
}

@media (max-width: 768px) {
  .home-starter > div:first-child {
    width: unset;
  }

  .home-starter > div:last-child {
    background-position: center;
  }

  .landing-footer-ilust:first-child {
    display: none;
  }

  .landing-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-footer-ilust {
    margin-top: 30px;
  }

  .landing-footer-ilust svg {
    width: 65vw;
  }

  .bloques-home > div.container {
    padding: 0 40px;
    padding-left: 25px;
  }

  .bloques-home > div:first-child > div {
    transition-delay: 0.65s !important;
  }

  .marco-gallery > div {
    margin-top: 0px !important;
    height: 45vh !important;
  }

  .marco-gallery > div img {
    margin: 0 10px;
  }

  .bloques-home > div > div {
    opacity: 1;
    transform: translateY(0);
  }

  .home-starter {
    padding-bottom: 10vh;
  }
}
